html {
	margin: 0;
	padding: 0;
	height: 350px;
	overflow: hidden;
	font-weight: 300;
}
body {
	margin: 0;
	height: 100%;
	width: 290px;
	/*width: 100%;*/
	display: flex;
	flex-direction: column;
	font-family: Ubuntu, Tahoma, sans-serif;
}

figure {
	margin: 0;
	padding: 0;
}
figure canvas,
figure img {
	max-height: 100%;
	max-width: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

[role="button"] {
	box-sizing: border-box;
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	text-align: center;
}

button,
[role="button"] {
	padding: 0 8px;
	border: 0 none;
	border-radius: 1px;
	margin-left: 5px;
	font-weight: 700;
}

#tooltip {
	max-width: 10em;
	padding: 4px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 2px;
	min-height: 36px;
}
header button,
header [role="button"] {
	flex: 1;
	height: 36px;
	/*min-width: 64px;*/
	min-width: 42px;
	max-width: 64px;
	padding: 0 8px;
	border: 0 none;
	border-radius: 1px;
	margin-left: 5px;
	font-weight: 700;
}
header button[disabled],
header [role="button"].disabled {
	opacity: 0.5;
}
header button:last-child,
header [role="button"]:last-child {
	margin-right: 5px;
}
#disableNotifications::before {
	content: "notifications_active";
	font-family: "Material Icons"; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	font-size: 24px;
	font-weight: normal;
}
#disableNotifications.off::before {
	content: "notifications_off";
	font-family: "Material Icons"; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	font-size: 24px;
	font-weight: normal;
}
#vide,
.vide {
	flex: 1;
}
.hide {
	display: none !important;
	visibility: hidden !important;
}

.cursor {
	cursor: pointer;
}
body > section {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 10px 3px 4px;
	position: relative;
}

input[type="radio"][name="sections"] {
	left: -999999999px;
	position: absolute;
}

input[type="radio"][name="sections"] + section {
	display: none;
}
input[type="radio"][name="sections"]:checked + section {
	display: block;
}

body > section,
footer,
footer * {
	font-size: 12px;
}


body > section .buttonItem,
#panelContent .websiteItem {
	background-repeat: no-repeat;
	background-position: 3px center;
	background-size: 32px auto;
	font-size: 14px;
	justify-content: space-between;
	flex-direction: column;
	margin: 7px 0;
	min-height: 37px;
	padding: 7px 14px 7px 42px;
	position: relative;
	text-align: left;
}

body > section .buttonItem .icon {
	font-size: 32px;
	left: 3px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
body > section .buttonItem .icon .material-icons {
	font-size: inherit;
}

#panelContent .websiteItem .websiteTitle::before {
	content: attr(data-website);
}
body > section .buttonItem .title[data-count]::after,
#panelContent .websiteItem[data-Logged="true"] .websiteTitle::after {
	content: " (" attr(data-count) ")";
}
body > section .buttonItem .title,
#panelContent .websiteItem .websiteTitle {
	font-size: 1.1em;
	font-weight: 700;
}
#panelContent .websiteItem .websiteData {
	padding-left: 21px;
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
}
#panelContent .websiteItem[data-Logged="true"] .websiteData .folder[data-folder-url]::before {
	content: "open_in_browser";
	font-family: 'Material Icons'; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	font-size: 1.5em;
}
#panelContent .websiteItem .websiteData .folder {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#panelContent .websiteItem[data-Logged="true"] .websiteData .folder::after {
	content: attr(data-folder-title)": "attr(data-folder-count);
}
.websiteItem.rssItem {
	background-image: url("/data/images/rss-2440955.svg");
}
#panelContent .websiteItem.rssItem .websiteData {
	padding-left: 0;
}
#panelContent .websiteItem.rssItem.rssItem--successs .websiteData {
	text-transform: capitalize;
}
#panelContent .websiteItem.rssItem.rssItem--hideData .websiteData {
	display: none;
}



#current_version::before {
	content: " (v" attr(data-current-version) ")";
}
footer {
	display: flex;
	flex-direction: row;
	min-height: 32px;
}
footer,
footer * {
	/*white-space: pre-line;*/
	text-align: center;
}
footer > div {
	display: flex;
	flex: 6;
	border: none;
	padding: 0;
	flex-direction: column;
}
footer > div > * {
	flex: 2;
}
