html {
	margin: 0;
	padding: 0;
	height: 300px;
	overflow: hidden;
	font-weight: 300;
}
html.isFirefox {
	height: 384px;
}
body {
	margin: 0;
	height: 100%;
	width: 200px;
	/*width: 100%;*/
	display: flex;
	flex-direction: column;
	font-family: Ubuntu, Tahoma, sans-serif;
}
html.isFirefox body {
	width: 275px;
}

[role="button"] {
	box-sizing: border-box;
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	text-align: center;
}

button,
[role="button"] {
	padding: 0 8px;
	border: 0 none;
	border-radius: 1px;
	font-weight: 700;
}

header {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: space-between;
	padding: 5px;
	min-height: 36px;
}
header button,
header [role="button"] {
	flex: 1;
	height: 36px;
	/*min-width: 64px;*/
	min-width: 42px;
	max-width: 64px;
	padding: 0 8px;
	border: 0 none;
	border-radius: 1px;
	font-weight: 700;
}
header a[role="button"] {
	color: inherit;
	text-decoration: none;
}
header button[disabled],
header [role="button"].disabled {
	opacity: 0.5;
}

.hide {
	display: none !important;
	visibility: hidden !important;
}
.cursor,
label[for] {
	cursor: pointer;
}
.d-block {
	display: block;
}
.d-contents {
	display: contents;
}
.float-left {
 float: left;
}
.ellipse {
	/*noinspection CssUnresolvedCustomProperty*/
	-webkit-line-clamp: var(--ellipse-clamp, 2);
	 overflow: hidden;
	 display: -webkit-box;
	 -webkit-box-orient: vertical;
 }
body:not(.delegated-version) .if-delegated-version {
	display: none;
}
body.delegated-version .if-normal-version {
	display: none;
}


body > section {
	display: flex;
	flex-direction: column;
	row-gap: 7px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-gutter: stable;
	padding: 2px 2px 2px 4px;
	position: relative;
}

body > section,
footer {
	font-size: 12px;
}

section .buttonItem {
	display: grid;
	font-size: 14px;

	gap: 8px 0;
	grid-template-columns: 32px 1fr;
	grid-auto-rows: minmax(calc(37px / 2), auto);
	grid-template-areas:
		"icon title"
		"icon data";

	margin: 0;
	min-height: auto;
	padding: 7px;
	position: relative;
	text-align: left;
}
section .buttonItem.no-data {
	grid-template-areas: "icon title";
}
section .buttonItem .title {
	font-size: 1.1em;
	font-weight: 700;
	grid-area: title;
}
section .buttonItem .data {
	grid-area: data;
}
section .buttonItem > .icon {
	grid-area: icon;

	align-items: center;
	display: flex;
	font-size: 32px;
	height: 100%;
	justify-content: center;
	margin: 0;
	width: 100%;
}


section .buttonItem .data-list {
	list-style-type: none;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}
section .buttonItem .data-list-item:has(button.icon-only) {
	display: inline-block;
}
section .buttonItem .data-list-item button {
	cursor: pointer;
	font-size: 12px;
	margin: 0;
	padding-bottom: 4px;
	padding-left: .8em;
	padding-top: 4px;
	text-align: left;
	word-break: break-all;
}
section .buttonItem .data-list-item button .icon {
	font-size: 1em;
	height: 1em;
	margin-right: .2em;
	text-align: center;
	width: 1em;
}
section .buttonItem .data-list-item button.icon-only {
	padding: 0 4px;
	margin: 0 4px;
}
section .buttonItem .data-list-item button.icon-only .icon {
	font-size: 1.75em;
	margin-right: 0;
}


footer {
	display: flex;
	flex-direction: column;
	min-height: 32px;
	text-align: center;
}
