body {
	white-space: pre-wrap;
	word-break: break-word;
	font-family: Ubuntu, Tahoma, sans-serif;

	background-color: #272822;
	color: lightgrey;
	font-size: 15px;
}

ul.z-json-viewer {
	list-style-type: none;
	position: relative;
}

ul.z-json-viewer ul,
ul.z-json-viewer ol {
	border-left: 0.2ch dashed rgba(169, 169, 169, 0.3);
}


.z-json-viewer.z-json-viewer-container.type-object::before,
.z-json-viewer.z-json-viewer-container.type-array::before,
.z-json-viewer.z-json-viewer-container.type-object::after,
.z-json-viewer.z-json-viewer-container.type-array::after {
	position: relative;
	left: -2rem;
}


.z-json-viewer input[type="checkbox"].collapse {
	display: inline-block;
	position: relative;
	margin-left: -1.5rem;
	top: 0.2rem;
}
.z-json-viewer ol.type-array > li > input[type="checkbox"].collapse {
	left: 0;
	position: absolute;
	top: -0.2rem;
}
.z-json-viewer input[type="checkbox"].collapse::before {
	content: 'chevron_right';
	display: block;
	transition: transform .2s ease-in-out;
}
.z-json-viewer input[type="checkbox"].collapse:checked::before {
	transform: rotate(90deg);
}
.z-json-viewer input[type="checkbox"].collapse:not(:checked) + .property + .type-array > li,
.z-json-viewer input[type="checkbox"].collapse:not(:checked) + .z-json-viewer > li,
.z-json-viewer input[type="checkbox"].collapse:not(:checked) + .property  + .z-json-viewer > li {
	display: none;
}


.z-json-viewer.z-json-viewer-container.type-object::before {
	content: '{'
}
.z-json-viewer.z-json-viewer-container.type-array::before {
	content: '['
}
.z-json-viewer.z-json-viewer-container.type-object::after {
	content: '}'
}
.z-json-viewer.z-json-viewer-container.type-array::after {
	content: ']'
}
.z-json-viewer .type-array > li {
	list-style-position: inside;
	position: relative;
}


.z-json-viewer .property {
	font-weight: bold;
}


.z-json-viewer > li {
	position: relative;
}
.z-json-viewer > li > .property::after {
	content: ":";
	margin-right: .2rem;
}
.z-json-viewer > li.container-object > .property::after {
	content: ": {";
	margin-right: .2rem;
}
.z-json-viewer > li.container-array > .property::after {
	content: ": [";
	margin-right: .2rem;
}

.z-json-viewer ol.type-array {
	counter-reset: item;
	list-style-type: none;
}
.z-json-viewer ol.type-array > li {
	counter-increment: item;
}
.z-json-viewer ol.type-array > li:before {
	content: counter(item) ".";
	margin-right: 5px;
}

.z-json-viewer .type-array > li.container-object::before {
	content: counter(item) ". {";
	margin-right: .2rem;
}
.z-json-viewer .type-array > li.container-array::before {
	content: counter(item) ". [";
	margin-right: .2rem;
}
.z-json-viewer .type-array > li.container-object::after {
	content: "},";
	margin-right: .2rem;
}
.z-json-viewer .type-array > li.container-array::after {
	content: "],";
	margin-right: .2rem;
}
.z-json-viewer .type-array > li.container-object:last-child::after {
	content: "}";
}
.z-json-viewer .type-array > li.container-array:last-child::after {
	content: "]";
}


.z-json-viewer > li::after {
	content: ",";
	margin-right: .2rem;
}
.z-json-viewer > li:last-child::after {
	content: none;
}
.z-json-viewer > li.container-object::after {
	content: '},';
}
.z-json-viewer > li.container-object:last-child::after {
	content: '}';
}
.z-json-viewer > li.container-array::after {
	content: '],';
}
.z-json-viewer > li.container-array:last-child::after {
	content: ']';
}

.z-json-viewer > li.container-string {
	display: flex;
}
.z-json-viewer > li.container-string > *:not(.type-string) {
	flex-shrink: 0;
}

.z-json-viewer .type-null,
.z-json-viewer .type-boolean {
	color: #f92672;
}

.z-json-viewer .type-number {
	color: #ae81ff;
}

.z-json-viewer .type-string,
.z-json-viewer a[href] {
	color: #e5cc53;
}

.z-json-viewer li.container-string::after {
	margin-top: auto;
}

.z-json-viewer .type-string,
.z-json-viewer .property {
	display: -webkit-box;
	/*noinspection CssInvalidPropertyValue*/
	display: -webkit-inline-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.type-array > li > span.type-string {
	position: relative;
	top: 0.3rem;
}

.z-json-viewer li[tabindex]:focus {
	outline: dotted 0.1ch;
}
