<div class="buttonItem cursor tabMover" data-window-id="{{windowId}}">
	<span class="icon material-symbols-outlined">swap_horiz</span>
	<div class="title" {% if tabsCount %}data-count="{{tabsCount}}"{% endif %}>{{title}}</div>
	<div class="data ellipse">{{tabName}}</div>
</div>