<div class="buttonItem cursor tabMover" data-browser-name="{{browserName}}" data-translate-title="{{tabName}}">
	<span class="icon material-icons">swap_horiz</span>
	<div class="title">{{title}}</div>
	<div class="data ellipse">{{tabName}}</div>
</div>