<header>
    <ul role="tablist">
        {%- for item in bookmarks -%}
        <li>
            {%- set folderName = item[0] -%}
            {%- set data = item[1] -%}


            {%- set id = folderName -%}
            {%- if (folderName | type) != 'string' -%}
                {%- set id = folderName | join(',') -%}
            {% endif %}


            {%- set displayName = folderName -%}
            {%- if (folderName | type) != 'string' -%}
                {%- set displayName = folderName | last -%}
            {%- endif -%}

            <label for="{{ id }}"{% if loop.first %} class="checked" {% endif %}{% if folderName != displayName %} title="{{ folderName | join(' \ ') }}"{% endif %} role="tab">
                {{- displayName -}}
            </label>
        </li>
        {%- endfor -%}
    </ul>
    <button id="reopenWindow" disabled><span class="material-symbols-outlined">reopen_window</span></button>
    <button id="refreshThumbnails"><span class="material-symbols-outlined">frame_reload</span></button>
</header>


{% macro showBookmark(bookmark, meta) %}
    <article class="newTab-item" style="{% if meta.theme_color %}--theme-color: {{ meta.theme_color }};{% endif %}{% if meta.background_color %}--background-color: {{ meta.background_color }};{% endif %}">
        <a href="{{ bookmark.url }}" class="title">
            {%- if meta._hostname -%}
                {%- if meta.favicon -%}
                    <img class="favicon" src="{{ meta.favicon }}" crossorigin="anonymous" alt="favicon" loading="lazy" />
                {%- endif -%}
                <img class="favicon favicon-default" src="https://icons.duckduckgo.com/ip2/{{ meta._hostname }}.ico" crossorigin="anonymous" alt="favicon">
            {%- endif -%}

            {{- bookmark.title -}}
        </a>
        <a href="{{ bookmark.url }}" class="hover"></a>

        {% set image = meta.capture if meta.capture else meta.image %}
        {% if image %}<img class="background" src="{{ image }}" crossorigin="anonymous" alt="{{ bookmark.title }}" loading="lazy">{% endif %}
    </article>
{% endmacro %}


<h1 class="screen-reader-text">New tab</h1>
{% for item in bookmarks %}
    {%- set folderName = item[0] -%}
    {%- set data = item[1] -%}


    {%- set id = folderName -%}
    {%- if (folderName | type) != 'string' -%}
        {%- set id = folderName | join(',') -%}
    {% endif %}


    <input type="radio" name="newTab-folders" id="{{ id }}" value="{{ folderName }}" class="hide"{% if loop.first %} checked{% endif %}>
    <section id="{{ id }}" class="newTab-section">
        <div id="newTab-content-{{ id }}" class="newTab-sectionChildren">
            {%- for bookmark in data.children -%}
                {%- if bookmark.children -%}
                    <article class="newTab-item folder">
                        <a class="title">
                            {{- bookmark.title -}}
                        </a>
                        <span class="background material-symbols-outlined">folder_special</span>
                        <span class="background material-symbols-outlined active">folder_open</span>
                    </article>
                    <div class="folderItems">
                        {%- for childrenBookmark in bookmark.children -%}
                            {%- if childrenBookmark.children -%}
                                <!-- Sub-folder not supported -->
                            {%- else -%}
                                {% set meta = bookmarksMeta[bookmark.id] %}
                                {{ showBookmark(childrenBookmark, meta) }}
                            {%- endif -%}
                        {%- endfor -%}
                    </div>
                {%- else -%}
					{% set meta = bookmarksMeta[bookmark.id] %}
                    {{ showBookmark(bookmark, meta) }}
                {%- endif -%}
            {%- endfor -%}
        </div>
    </section>
{% endfor %}
