{%- for item in items -%}

{%- set type = 'userstyle' if item.data.isCss else 'userscript' -%}
{%- set isExecuted = item.data.isScriptExecuted | default(null) -%}

{%- set cursorClass = ' cursor' -%}
{%- if item.data.isScript and item.data.manual and isExecuted === true -%}
	{#- remove class if manual script already executed -#}
	{%- set cursorClass = '' -%}
{%- endif -%}

<div id="{{ type }}-{{ item.data.id }}" class="buttonItem{{ cursorClass }} {{ type }}{% if isExecuted === true %} is-executed{% endif %}"{%- if item.data.manual %} data-manual-target="{{ item.data.fileName }}"{% endif -%}>

	{%- set titleTag = 'label' -%}
	{%- if not item.data -%}
		<span class="icon material-symbols-outlined">tab</span>
	{%- elseif item.data.manual -%}
		{%- set titleTag = 'div' -%}
		{%- if item.data.icon -%}
			<img class="icon" src="{{ item.data.icon }}" alt="">
		{%- else -%}
			<span class="icon material-symbols-outlined">rocket_launch</span>
		{%- endif -%}
	{%- else -%}
		<input class="icon" type="checkbox" name="userStyle-{{ item.data.id }}" value="{{ item.data.fileName }}" id="{{ item.data.id }}"{% if item.data.enabled %} checked{% endif %} />
	{%- endif -%}
	<{{ titleTag }} class="title ellipse" for="{{ item.data.id }}"
			{%- if item.data.tags | length > 0 %} title="Tag{%- if item.data.tags | length > 1 -%}s{%- endif %} : {{ item.data.tags.join(', ') }}"{% endif -%}>
		{%- if isExecuted !== true -%}
		<span class="running-state material-symbols-outlined">{%- if isScriptExecuted == true -%}
			play_arrow
		{%- elseif item.data.enabled -%}
			warning
		{%- endif -%}</span>
		{%- endif -%}

		{{- item.title -}}
	</{{ titleTag }}>
	{%- if not item.data -%}
		<div class="data">Aucun style</div>
	{%- else -%}
		<div class="data">
			{%- if item.data.isScriptExecuted == true -%}
				<ul class="menu-actions">
				{%- for menuItem in item.data.menuCommands  -%}
					{% set emptyMenuCommand = true %}
					{%- if menuItem.fileName === item.data.fileName -%}
						{% set emptyMenuCommand = false %}
						<li>
							<button class="menu-action ellipse{%- if menuItem.iconOnly %} icon-only{% endif -%}"
									data-target="{{ item.data.fileName }}"
									data-userscript-menu-command="{{ menuItem.id }}"
									{%- if menuItem.title %} title="{{ menuItem.title }}"
									{%- else %} title="{{ menuItem.name }}"{%- endif -%}
									{%- if menuItem.accessKey %} accesskey="{{ menuItem.accessKey }}"{%- endif -%}
									{%- if menuItem.autoClose | default(true) %} data-userscript-auto-close=""{%- endif -%}>
								{%- if menuItem.icon and menuItem.icon.startsWith('https://') -%}
								<img class="menu-action-icon" src="{{ menuItem.icon }}" alt="" loading="lazy">
								{%- else -%}
								<span class="menu-action-icon material-symbols-outlined">
									{%- if menuItem.icon -%}{{ menuItem.icon }}{%- else -%}manufacturing{%- endif -%}
								</span>
								{%- endif -%}
								{%- if not menuItem.iconOnly -%}{{- menuItem.name -}}{%- endif -%}
							</button>
						</li>
                    {%- endif -%}
					{%- if emptyMenuCommand -%}&nbsp;{%- endif -%}
				{%- endfor -%}
				</ul>
			{%- else -%}
				<label class="d-block" for="{{ item.data.id }}">&nbsp;</label>
			{%- endif -%}
		</div>
	{%- endif -%}
</div>
{%- endfor -%}
